* {
  margin: 0px;
  padding: 0px;
}

/*Header section */
.container {
  background-color: rgb(46, 43, 43);
  padding: 20px;
  color: #120f0f;
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
}

.logo h4 {
  font-size: 35px;
}

.menu {
  display: flex;
}

.menu li {
  margin-left: 15px;
  text-transform: capitalize;
  background-color: rgb(91, 88, 88);
  padding: 8px;
  cursor: pointer;
  transition: .5s;
}

.menu li:hover {
  background-color: white;
}

/*Header section end*/

/*Description section started*/
.description {
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 70vh;
  background-image: url("assets/img/background.png");
  background-position: center;
  background-size: cover;
}

.description-section {
  padding: 50px 0px;
}


.description-section h2 {
  width: 350px;
  font-size: 38px;
}


.description-section p {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 12px;
}

.light-logo {
  width: 300px;
  /* height: 220px; */
}

.orange-btn {
  background-color: rgb(199, 59, 8);
  border-style: none;
  padding: 10px;
  color: white;
  border-radius: 3px;
  text-transform: capitalize;
}

/* about us section started */
.about-title,
.service-title {
  text-align: center;
  text-transform: capitalize;
  padding-top: 20px;
  font-size: 35px;
  padding-bottom: 20px;
}

.about-us-section {
  height: 55vh;
}

.about-us-div {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px 0px;

}

.about-logo {
  width: 300px;
}

.about-us-text {
  margin-top: -100px;
}

.about-us-text h2 {
  width: 305px;
  margin-bottom: 20px;
}

.about-btn {
  margin-top: 20px;
  padding: 8px 12px;
  background-color: red;
  color: white;
  border-radius: 2px;
  border: none;
  text-transform: capitalize;
}

.us-text {
  text-transform: uppercase;
}

/* about us section end */

/* service section started */
.service-section-div {
  background-color: #3f3d3d;
  color: rgb(240, 229, 229);
}

.service-section {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 40vh;
}

.service-img {
  width: 70px;
  height: 70px;
  margin-top: 20px;
  margin-bottom: 15px;
}

.single-service-section {
  height: 280px;
  width: 220px;
  border: 1px solid none;
  border-radius: 5px;
  text-align: center;
  background-color: #120f0f;
}

.service-name {
  text-transform: capitalize;
  font-size: 18px;
  margin-bottom: 15px;
}

.service-details {
  margin-bottom: 18px;
  font-size: 14px;
}

.service-btn {
  text-transform: capitalize;
  border: 0;
  padding: 8px 12px;
  background-color: #756868;
  color: azure;
}

/* service section end */