* {
  margin: 0px;
  padding: 0px;
}

/*Header section */
.container {
  background-color: rgb(46, 43, 43);
  padding: 20px;
  color: #120f0f;
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
}

.logo h4 {
  font-size: 35px;
}

.menu {
  display: flex;
}

.menu li {
  margin-left: 15px;
  text-transform: capitalize;
  background-color: rgb(91, 88, 88);
  padding: 8px;
  cursor: pointer;
  transition: .5s;
}

.menu li:hover {
  background-color: white;
}

/*Header section end*/

/*Description section started*/
.description {
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 80vh;
  background-image: url("assets/img/background.png");
  background-position: center;
  background-size: cover;
}

.description-section {
  padding: 50px 0px;
}


.description-section h2 {
  width: 350px;
  font-size: 38px;
}


.description-section p {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 12px;
}

.light-logo {
  width: 300px;
  height: 220px;
}

.orange-btn {
  background-color: rgb(199, 59, 8);
  border-style: none;
  padding: 10px;
  color: white;
  border-radius: 3px;
  text-transform: capitalize;
}

/* about us section started */
.about-title {
  text-align: center;
}

.about-logo {
  width: 300px;
}

/* about us section end */